<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaonan.xnbi.mapper.ImageMapper">

    <resultMap id="BaseResultMap" type="com.xiaonan.xnbi.model.entity.Image">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="goal" column="goal" jdbcType="VARCHAR"/>
        <result property="imageType" column="imageType" jdbcType="VARCHAR"/>
        <result property="genResult" column="genResult" jdbcType="VARCHAR"/>
        <result property="execMessage" column="execMessage" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
        <result property="baseString" column="baseString" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,goal,imageType,
        genResult,createTime,updateTime,state,execMessage,
        isDelete,baseString
    </sql>
</mapper>
